{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if [ -d "$HOME/.asdf" ]; then
(
    # asdf update
    # asdf plugin update --all
    echo "!!! asdf installed already !!!"
)
else
    # clone asdf
    {{ if not (or (contains "Microsoft" .chezmoi.kernel.osrelease) (contains "microsoft" .chezmoi.kernel.osrelease)) -}}
        git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.8.0
    {{ else -}}
        git clone https://github.com/asdf-vm/asdf.git  "$HOME/.asdf" --branch v0.8.0
    {{ end -}}
fi

# sudo apt update

# asdf-nodejs deps
sudo apt install --yes --no-install-recommends \
    curl \
    dirmngr \
    gpg \
    jq \
    tar \
    unzip \
    zip \

# asdf-python build deps
sudo apt install --yes --no-install-recommends \
    libbz2-dev \
    libffi-dev \
    liblzma-dev \
    libncurses5-dev \
    libreadline-dev \
    libsqlite3-dev \
    libssl-dev \
    libxml2-dev \
    libxmlsec1-dev \
    llvm \
    make \
    tk-dev \
    wget \
    xz-utils \
    zlib1g-dev

. $HOME/.asdf/asdf.sh


asdf plugin add bat
asdf plugin add deno
asdf plugin add direnv
asdf plugin add dotnet-core
asdf plugin add fzf
asdf plugin add github-cli
asdf plugin add gitui
asdf plugin add gohugo
asdf plugin add golang
asdf plugin add hub
# asdf plugin add nodejs
asdf plugin add python
asdf plugin add rclone
asdf plugin add ripgrep
asdf plugin add ruby
asdf plugin add rust
asdf plugin add sqlite
asdf plugin add tmux

# enable asdf-nodejs pgp verification to work
# bash -c "${ASDF_DATA_DIR:=$HOME/.asdf}/plugins/nodejs/bin/import-release-team-keyring"

asdf install

echo "!!! asdf setup complete !!!"

{{ end -}}
