{{ if eq .chezmoi.os "windows" -}}
REM Powershell.exe -executionpolicy remotesigned -File "{{.chezmoi.homedir}}/_scripts/_ps1/install_chocolatey_packages.ps1"

Import-Module PowerShellGet
Install-PackageProvider -Name NuGet -Force
Update-Module -Name PowerShellGet

choco install {{.chezmoi.homedir}}/.default-chocolatey-packages.config --yes

Install-Module posh-git -Scope CurrentUser
Install-Module oh-my-posh -Scope CurrentUser

{{ end -}}
