{{ if eq .chezmoi.os "linux" -}}
{{ if not (or (contains "Microsoft" .chezmoi.kernel.osrelease) (contains "microsoft" .chezmoi.kernel.osrelease)) -}}
#!/bin/sh

snap install code --classic

{{ end -}}

{{ if (or (contains "Microsoft" .chezmoi.kernel.osrelease) (contains "microsoft" .chezmoi.kernel.osrelease)) -}}
#!/bin/bash

echo "Skipping because this is WSL."
{{ end -}}
{{ end -}}
