{{- if eq .chezmoi.os "linux" -}}
{{- if (eq (index .chezmoi.osRelease "idLike") "debian") -}}
#!/bin/bash

sudo apt update

# install zsh and change the default shell to it
sudo apt install --yes --no-install-recommends zsh
chsh -s $(which zsh)

# Some apt-installable packages
sudo apt install --yes --no-install-recommends \
    borgmatic \
    build-essential \
    git \
    git-extras \
    gnome-shell-extensions \
    gnome-tweaks \
    libgtk-3-dev \
    mosh \
    neofetch \
    nnn \
    ntpdate \
    ssh \

sudo ufw allow ssh

{{ end -}}
{{ end -}}
