{{- if eq .chezmoi.os "linux" -}}
{{- if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

# update packages to latest version
sudo pacman -Syyu

# install zsh and change the default shell to it
sudo pacman -S --needed zsh
chsh -s /usr/bin/zsh

# Some apt-installable packages

sudo pacman -S --needed \
    base-devel \
    ccze \
    curl \
    git \
    htop \
    mc \
    pv \
    wget \

{{ end -}}
{{ end -}}
