{{- $codespaces := env "CODESPACES" | not | not -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}
diff:
  pager: "delta"
git:
  autoAdd: true
encryption: "age"
age:
  passphrase: true
data:
  name: "Tyler Butler"
  email: "tyler@tylerbutler.com"
  codespaces: {{ $codespaces }}
