{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- /* rbw (Bitwarden) is disabled by default. Set CHEZMOI_USE_RBW=true to enable. */ -}}
{{- $use_rbw := false -}}
{{- if and (eq (env "CHEZMOI_USE_RBW") "true") (lookPath "rbw") -}}
{{-   $use_rbw = true -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

{{ if $use_rbw -}}
encryption = "age"

[bitwarden]
  command = "rbw"
{{ end -}}

[data]
  name = "Tyler Butler"
  email = "tyler@tylerbutler.com"
  codespaces = {{ $codespaces }}
  use_rbw = {{ $use_rbw }}

[diff]
  exclude = ["scripts"]
  pager = "delta"

[git]
  autoAdd = true

[scriptEnv]
  SOURCE_PATH = "{{ .chezmoi.sourceDir }}"

{{ if $use_rbw -}}
[age]
  identity = '{{ joinPath .chezmoi.homeDir "age-key.txt" }}'
  recipient = "age104jq0rfzu0v9vla2xtzup369lc9rv4ptmydq8lj5aynyv4j27dxqt38dea"

{{ if ne .chezmoi.os "windows" -}}
[hooks.read-source-state.pre]
  script = '{{ joinPath .chezmoi.sourceDir ".install-password-manager.sh" }}'
{{ end -}}
{{- end -}}
