{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

encryption = "age"

# [hooks.read-source-state.pre]
# script = ".local/share/chezmoi/.install-password-manager.sh"

[bitwarden]
  command = "rbw"

[data]
  name: "Tyler Butler"
  email: "tyler@tylerbutler.com"
  codespaces = {{ $codespaces }}

[diff]
  exclude = ["scripts"]
  pager = "delta"

[git]
  autoAdd = true

[scriptEnv]
  MY_VAR = "my_value"

[age]
    identity = "{{ .chezmoi.homeDir }}/age-key.txt"
    recipient = "age104jq0rfzu0v9vla2xtzup369lc9rv4ptmydq8lj5aynyv4j27dxqt38dea"
