{{ if eq .chezmoi.os "linux"  -}}
{{ if not (contains "Microsoft" .chezmoi.kernel.osrelease) }}
#!/bin/bash

# install hyper terminal
wget -O ~/Downloads/hyper.deb "https://releases.hyper.is/download/deb"
sudo apt install ~/Downloads/hyper.deb -y
rm ~/Downloads/hyper.deb

{{ end -}}
{{ end -}}
