{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt update
sudo apt install zsh -y
chsh -s $(which zsh)

sudo apt install \
    direnv \
    thefuck \
    -y \

if [! compaudit]; then
    echo "compaudit"
    compaudit | xargs chown -R "tylerbu"
    compaudit | xargs chmod go-w
fi

{{ end -}}
