{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt update
sudo apt install --yes --no-install-recommends zsh
chsh -s $(which zsh)

sudo apt install --yes --no-install-recommends \
    direnv \
    thefuck

{{ end -}}
