<?xml version="1.0" encoding="utf-8"?>
<!--
  More information on the format of this file at
  https://chocolatey.org/docs/commands-install#packagesconfig
-->
<packages>
  <package id="beyondcompare" />
  <package id="chezmoi" />
  <package id="ConEmu" />
  <package id="delta" />
  <package id="fiddler" />
  <package id="git" />
  <package id="git-lfs" />
  <package id="gitkraken" />
  <package id="hub" />
  <package id="hugo-extended" />
  <package id="nvm" />
  <package id="vscode" />
</packages>
