[include]
	path = linux.gitconfig

[commit]
	gpgSign = false

[core]
	editor = "code --wait"

[credential]
	helper = "/mnt/c/Users/{{- .chezmoi.username -}}/scoop/apps/git/current/mingw64/libexec/git-core/git-credential-manager-core.exe"

[hub]
	protocol = https
