[env]
MISE_NODE_COREPACK = 1
LEFTHOOK = 0
LD_LIBRARY_PATH = "/home/linuxbrew/.linuxbrew/lib:${LD_LIBRARY_PATH:-}"

[tools]
bun = "latest"
deno = "latest"
hk = "latest"
node = "24"
pkl = "latest"

"aqua:FiloSottile/age" = "latest"
"ubi:jandedobbeleer/aliae" = "latest"
"ubi:str4d/age-plugin-yubikey" = "latest"
go = "latest"
python = "3.14.2"

[settings]
# configure how frequently (in minutes) to fetch updated plugin repository changes
# this is updated whenever a new runtime is installed
# (note: this isn't currently implemented but there are plans to add it: https://github.com/jdx/rtx/issues/128)
plugin_autoupdate_last_check_duration = '1 week' # set to 0 to disable updates

# expand shell variables in env values (e.g. $HOME, $USER, etc.) -- this will be enabled by default in
# future mise releases.
env_shell_expand = true

# config files with these prefixes will be trusted by default
trusted_config_paths = [
    '~/code/',
]

jobs = 8            # number of plugins or runtimes to install in parallel. The default is `4`.
idiomatic_version_file_enable_tools = ["erlang", "elixir"] # enable idiomatic version file support for these tools (e.g. rebar.config for erlang, mix.exs for elixir)

[settings.status]
show_env = true
show_tools = true

[settings.python]
compile = false
