[include]
	path = linux.gitconfig

[commit]
	gpgSign = false

[core]
	editor = "code --wait"

[credential]
	credentialStore =
	helper = "/mnt/c/Users/{{- .chezmoi.username -}}/scoop/apps/git/current/mingw64/bin/git-credential-manager.exe"
[hub]
	protocol = https
