{{ if eq .chezmoi.os "linux"  -}}
{{ if not (or (contains "Microsoft" .chezmoi.kernel.osrelease) (contains "microsoft" .chezmoi.kernel.osrelease)) -}}
#!/bin/bash

# install hyper terminal
wget -O ~/hyper.deb "https://releases.hyper.is/download/deb"
sudo apt install ~/hyper.deb -y
rm ~/hyper.deb

{{ end -}}
{{ end -}}
