{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# install vivid, which is used to set $LS_COLORS
wget -O ~/vivid.deb "https://github.com/sharkdp/vivid/releases/download/v0.6.0/vivid_0.6.0_amd64.deb"
sudo dpkg -i ~/vivid.deb
rm ~/vivid.deb

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# install vivid, which is used to set $LS_COLORS
brew install coreutils
brew install vivid

{{ end -}}
