{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# install git-delta
wget -O ~/delta.deb "https://github.com/dandavison/delta/releases/download/0.3.0/git-delta_0.3.0_amd64.deb"
sudo apt install ~/delta.deb -y
rm ~/delta.deb

{{ end -}}
