{{ if eq .chezmoi.os "linux" -}}
{{ if not (or (contains "Microsoft" .chezmoi.kernel.osrelease) (contains "microsoft" .chezmoi.kernel.osrelease)) -}}
#!/bin/sh

# install beyond compare
wget http://www.scootersoftware.com/bcompare-4.3.7.25118_amd64.deb
sudo apt-get update
sudo apt-get install gdebi-core --yes
sudo gdebi bcompare-4.3.7.25118_amd64.deb
rm bcompare-4.3.7.25118_amd64.deb

{{ end -}}
{{ end -}}
