{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# install git-delta
wget -O ~/delta.deb "https://github.com/dandavison/delta/releases/download/0.5.1/git-delta_0.5.1_amd64.deb"
sudo apt install ~/delta.deb -y
rm ~/delta.deb

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

brew install git-delta

{{ end -}}
