{{ if not .chezmoidata.codespaces -}}
{{ if eq .chezmoi.os "linux" -}}
{{ if (eq (index .chezmoi.osRelease "idLike") "debian") -}}
{{ if not (or (contains "Microsoft" .chezmoi.kernel.osrelease) (contains "microsoft" .chezmoi.kernel.osrelease)) -}}
#!/bin/bash

# add the appimagelauncher ppa
sudo add-apt-repository ppa:appimagelauncher-team/stable
sudo apt update

sudo apt install --yes --no-install-recommends \
    appimagelauncher \

{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
