{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.all.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
{{ range .packages.all.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
