{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

curl --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/ajeetdsouza/zoxide/master/install.sh | sh

{{ else if (eq .chezmoi.os "darwin") }}

brew install zoxide

{{ end -}}
