{{ if eq .chezmoi.os "linux" -}}

{{ .chezmoi.sourceDir }}/_sources/.config/powershell/profile.linux.ps1

{{ else if eq .chezmoi.os "windows" }}

{{ .chezmoi.sourceDir }}/_sources/.config/powershell/profile.windows.ps1

{{ end -}}
