{{- if eq .chezmoi.os "linux" -}}

{{- .chezmoi.homeDir -}}/.config/powershell/profile.linux.ps1

{{- else if eq .chezmoi.os "windows" }}

{{- .chezmoi.homeDir -}}/.config/powershell/profile.windows.ps1

{{- else if eq .chezmoi.os "darwin" -}}

{{- .chezmoi.homeDir -}}/.config/powershell/profile.mac.ps1

{{- end -}}
