{{ if eq .chezmoi.os "linux" -}}

{{ .chezmoi.sourceDir }}/private_dot_config/powershell/profile.windows.ps1

{{ else if eq .chezmoi.os "windows" }}

{{ .chezmoi.sourceDir }}/private_dot_config/powershell/profile.windows.ps1

{{ end -}}
