{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# install vivid, which is used to set $LS_COLORS
wget "https://github.com/sharkdp/vivid/releases/download/v0.5.0/vivid_0.5.0_amd64.deb"
sudo dpkg -i vivid_0.5.0_amd64.deb
rm vivid_0.5.0_amd64.deb

{{ end -}}
