{{- if (eq .chezmoi.os "windows") -}}
sources:
  - scoop
  - cargo
  - npm
{{ end -}}

{{- if eq .chezmoi.os "linux" -}}
{{- if (eq (index .chezmoi.osRelease "idLike") "arch") -}}
sources:
  - pacman
  - aur
  - cargo
  - npm
{{ end -}}

{{- if (eq (index .chezmoi.osRelease "idLike") "debian") -}}
sources:
  - brew
  - cargo
  - npm
  - apt
{{ end -}}
{{ end -}}

packages:
  - bat
  - bottom
  - chezmoi
  - direnv
  - dust
  - exa
  - fd
  - fnm
  - fzf
  - gh
  - ghq
  - git-delta
  - gitui
  - golang
  - grex
  - hub
  - jq
  - lsd
  - mc
  - micro
  - nnn
  - pueue
  - procs
  - pyenv
  - python
  - rg
  - rustup
  - sd
  - tealdeer
  - thefuck
  - tmux
  - viu
  - zellij
  - zoxide

  # npm-only packages
  - "@fluidframework/build-tools@latest"
  - generate
  - generate-license
  - auto-install
  - npkill
  - npm-check-updates
  - rimraf
  - sort-package-json
  - tiged
  - vsts-npm-auth
  - yarn

  # cargo packages
  - blindspot
  - cargo-update
  - when-cli
